<% unless user_signed_in? %>
    <!-- Login Modal -->
    <%= render partial: '/layouts/partials/login_modal' %>
<% end %>



<!-- Search Modal -->
<div class="modal fade only" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">


            <div class="modal-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">

                                    <div id="searchModalLabel" class="input-group input-group-lg">
                                        <div class="fg-line">
                                            <input type="text" class="form-control input-lg" placeholder="검색어를 입력해주세요">
                                        </div>
                                        <span class="input-group-addon" data-dismiss="modal" aria-label="Close">
                                            <i class="zmdi zmdi-close-circle-o"></i>
                                        </span>
                                    </div>

                                    <div id="searchCategoryZone">
                                        <ul class="row_ul">
                                            <li class="active"><a href=""><span>전체</span></a></li>
                                            <li><a href=""><span>채널</span></a></li>
                                            <li><a href=""><span>테마</span></a></li>
                                            <li><a href=""><span>컨텐츠</span></a></li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
            </div>


            <div class="modal-body" id="searchModalBody">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <% @searched_posts = Post.last(24) %>
                                    <div class="posts-wrapper wide">
                                        <%= render partial: '/posts/partials/post_card_template', collection: @searched_posts, as: :post %>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
            </div>





            <!--<div class="modal-footer" id="searchModalFooter">-->
                <!--<div class="container">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-1 col-md-2"></div>-->
                        <!--<div class="col-sm-10 col-md-8">-->
                            <!--...-->
                        <!--</div>-->
                        <!--<div class="col-sm-1 col-md-2"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>



<!-- ThemeGroup Modal -->
<div class="modal fade" id="tgModal" tabindex="-1" role="dialog" aria-labelledby="tgModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="tgModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="tgModalBody">
                ...
            </div>
        </div>
    </div>
</div>