<div class="theme-slot col-md-6">
    <div class="theme-slot-bgimg" style="background-image: url(<%= theme.background_img %>);"></div>
    <div class="theme-slot-title"><%= theme.title %></div>
</div>