<section id="content">
    <div class="container">
        <div class="block-header">
            <h2>구독한 채널의 새소식 <small>이 곳에 추가적으로 안내용 텍스트를 넣을 수 있습니다. 이 아래에는 더미용 마크업 포멧이 포함되어 있습니다.</small></h2>

            <ul class="actions">
                <li>
                    <a class="btn btn-link" href="">더 보기</a>
                </li>
            </ul>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="lightbox myCards photos">

                    <div data-src="https://www.youtube.com/watch?v=bZrrGF2MHIs" class="col-xs-4 col-sm-4 col-md-3">
                        <div class="thumbnail lightbox-item">
                            <img src="http://via.placeholder.com/600x400" alt="">
                            <div class="caption">
                                <h4>Thumbnail label</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

                                <!--<div class="m-b-5">-->
                                    <!--<a href="#" class="btn btn-sm btn-primary waves-effect" role="button">Button</a>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>

                    <div data-src="https://www.youtube.com/watch?v=bZrrGF2MHIs" class="col-xs-4 col-sm-4 col-md-3">
                        <div class="thumbnail lightbox-item">
                            <img src="/template/media/gallery/1.jpg" alt="">
                            <div class="caption">
                                <h4>Thumbnail label</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                    </div>
                    <div data-src="https://www.youtube.com/watch?v=bZrrGF2MHIs" class="col-xs-4 col-sm-4 col-md-3">
                        <div class="thumbnail lightbox-item">
                            <img src="/template/media/gallery/2.jpg" alt="">
                            <div class="caption">
                                <h4>Thumbnail label</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                    </div>
                    <div data-src="https://www.youtube.com/watch?v=bZrrGF2MHIs" class="col-xs-4 col-sm-4 col-md-3">
                        <div class="thumbnail lightbox-item">
                            <img src="/template/media/gallery/3.jpg" alt="">
                            <div class="caption">
                                <h4>Thumbnail label</h4>
                                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>






    <div class="container">
        <div class="block-header">
            <h2>HOT 테마 <small>이 곳에 추가적으로 안내용 텍스트를 넣을 수 있습니다. 이 아래에는 더미용 마크업 포멧이 포함되어 있습니다.</small></h2>

            <ul class="actions">
                <li>
                    <a class="btn btn-link" href="">더 보기</a>
                </li>
            </ul>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="themes">
                    <div class="theme-slot col-md-6">
                        <div class="theme-slot-bgimg" style="background-image: url(/template/img/headers/1.png);"></div>
                        <div class="theme-slot-title">theme1</div>
                    </div>
                    <div class="theme-slot col-md-6">
                        <div class="theme-slot-bgimg" style="background-image: url(/template/img/headers/2.png);"></div>
                        <div class="theme-slot-title">theme2</div>
                    </div>
                    <div class="theme-slot col-md-6">
                        <div class="theme-slot-bgimg" style="background-image: url(/template/img/headers/3.png);"></div>
                        <div class="theme-slot-title">theme3</div>
                    </div>
                    <div class="theme-slot col-md-6">
                        <div class="theme-slot-bgimg" style="background-image: url(/template/img/headers/4.png);"></div>
                        <div class="theme-slot-title">theme4</div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="container">
        <div class="block-header">
            <h2>신규 컨텐츠 <small>이 곳에 추가적으로 안내용 텍스트를 넣을 수 있습니다. 이 아래에는 더미용 마크업 포멧이 포함되어 있습니다.</small></h2>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="showContents">
                    <% (6*10).times do |i| %>
                    <div class="showContents-card col-md-2 col-sm-3 col-xs-6">
                        <div class="theme-slot-bgimg" style="background-image: url(/template/img/headers/1.png);"></div>
                        <div class="theme-slot-title">theme1</div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>

</section>