@import "variables/*";

/*
 * Related in 'replaced carousel'
 */
#replace-carousel-wrapper{
    width: 100%;
    height: $carousel_replace_height;
}

/*
 * Related in 'carousel fade'
 */
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}


/*
 * Related in 'paged carousel'
 */
body{
    // default sizing
    #main[data-template='default']{
        #carousel-wrapper{
            padding-top: $carousel_height;

            .carousel{
                .carousel-control{
                    height: $carousel_height;
                }
                .carousel-indicators{
                    top: calc(60px + 450px - 24px);
                }
            }
        }

    }

    // small sizing
    #main[data-template='mypage'],
    #main[data-template='themes']{
        #carousel-wrapper{
            padding-top: $carousel_height_sm;

            .carousel .carousel-inner > .item > img{
                position: relative;
                top: -10px;
            }
        }
    }
}


/*
 * Related in 'fixed carousel'
 */
body{
    #carousel-wrapper{
        //padding-top: $carousel_height;

        .carousel{
            position: relative;

            .carousel-control{
                position: fixed;
                top: $navbar-height;
                //height: $carousel_height;
                z-index: 1;
                background-image: none;
                width: 4%;
            }

            .carousel-indicators{
                position: fixed;
                bottom: initial;
                //top: calc(60px + 450px - 24px);
                z-index: 1;
            }

            .carousel-inner{
                top: 0;
            }

            .item > img{
                filter: blur(10px);
            }

            .cover_bg,
            .carousel-caption{
                background: $body_background_color;
                opacity: 0;
                height: 100%;
                z-index: 1;
            }

            .carousel-info{
                position: absolute;
                top: 205px;
                z-index: 5;
                width: 100%;

                .carousel-info-thumbnail-img,
                .carousel-info-thumbnail-info{
                    width: fit-content;
                    display: inline-block;
                }
                .carousel-info-thumbnail-img{
                    position: relative;
                    top: 8px;

                    .imgbody,
                    .imgbody-cover{
                        display: inline-block;
                        width: 197px;
                        height: 197px;
                        border: 2px solid #e0e0e0;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }
                    .imgbody-cover{
                        position: absolute;
                        background-color: #edecec;
                        opacity: 0;
                        top: 0;
                    }
                }
                .carousel-info-thumbnail-info{
                    padding-left: 20px;

                    p{
                        color: #FFFFFF;
                        text-shadow: 0 1px 3px #333;

                        &.carousel-info-label{
                            font-size: 18px;
                        }

                        &.carousel-info-title{
                            font-size: 27px;
                            line-height: 1.1;
                            a{
                                color: #FFFFFF;
                            }
                        }

                        &.carousel-info-subtitle{
                            font-size: 22px;
                            line-height: 1.25;
                        }
                    }
                    .carousel-info-others{
                        color: #FFFFFF;
                        text-shadow: 0 1px 3px #333;
                        line-height: 28px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    #content{
        background: $body_background_color;
        position: relative;
        z-index: 2;
        padding-top: 60px;
    }

    footer{
        background: $footer-background_color;
        z-index: 2;
    }
}

body{
    .carousel{
        .carousel-indicators,
        .carousel-caption{
            background: transparent;
        }

        .carousel-inner > .item > img{
            min-width: 100%;
            min-height: 450px;
        }

        .carousel-caption{

        }
    }
}

@media screen and (max-width: 767px) {
    .carousel-info-thumbnail-img{
        display: none !important;
    }
}