@import "variables/*";

body #header,
.logo a,
.top-menu > li:after,
.top-menu > li > a{
    transition: all 250ms ease;
}

body{
    #header,
    #header-2{
        padding-left: 60px;
        padding-right: 60px;
        background-color: #FFFFFF;

        .logo a,
        .top-menu > li > a{
            color: #4C4C4C;
        }

        .top-menu .pf_img{
            width: 34px;
            height: 34px;
            border-radius: 20px;
            border: 1px solid #fff;
            /* box-shadow: 1px 2px 3px #999; */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            float: right;
            margin-left: 10px;
            position: relative;
            top: 1px;
        }

        .top-menu > .link{
            position: relative;
            line-height: 52px;

            &:hover{
                .tm-text{
                    color: #f83938 !important;
                }

                &:not(.no-hover):after{
                    height: 4px;
                }
            }

            & > a{
                line-height: 34px;
                padding: 0 12px;

                & > .tm-text{
                    font-size: 16px;
                }
            }
        }
        .top-menu > li{
            &:before{ display: none }
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                bottom: -18px;
                height: 0;
                background: #f83938;
            }

            &:hover{
                &:not(.no-hover):after{
                    height: 4px;
                }
            }
        }

        &.transparent{
            background-color: transparent;
            box-shadow: none;

            .logo a,
            .top-menu > li > a{
                color: #FFFFFF;
                text-shadow: 1px 2px 3px #333;
            }
        }
    }
}