// Place all the styles related to the themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "components/variables/*";


body #main{
    .theme,
    .theme-slot,
    .theme-slot:before,
    .theme-slot-title,
    .theme-slot-bgimg{
        transition: all 200ms ease;
    }

    .themes{
        .theme-slot{

            color: #FFFFFF;
            text-align: center;
            height: 164px;
            border: 2px solid #EDECEC;
            cursor: pointer;

            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                z-index: 1;
            }

            &:hover{
                &:before{
                    background-color: rgba(0, 0, 0, 0.85);
                }
                .theme-slot-title{
                    font-size: 30px;
                }
                .theme-slot-bgimg{
                    background-size: 110%;
                }
            }

            .theme-slot-title{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                height: fit-content;
                font-size: 26px;
                font-weight: bold;
                z-index: 2;
            }

            .theme-slot-bgimg{
                background-size: 100%;
                background-position: center center;
                background-repeat: no-repeat;

                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}