<div id="carousel-ground" class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Indicators // such as cover_bg -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-ground" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-ground" data-slide-to="1"></li>
        <li data-target="#carousel-ground" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides // such as vod_container -->
    <div class="carousel-inner p-fixed" role="listbox">
        <div class="item active">
            <img src="https://i.ytimg.com/vi/Ki6VYGnUBWU/maxresdefault.jpg" alt="...">
            <div class="carousel-caption">
                <span></span>
            </div>
            <div class="carousel-info">
                <div class="container">
                    <div class="row p-lr-60">
                        <div class="col-xs-12">
                            <div class="carousel-info-thumbnail-img">
                                <div class="imgbody" style="background-image: url('https://i.ytimg.com/vi/Ki6VYGnUBWU/maxresdefault.jpg')"></div>
                                <div class="imgbody-cover"></div>
                            </div>
                            <div class="carousel-info-thumbnail-info">
                                <p class="carousel-info-label">다가오는 명강연</p>
                                <p class="carousel-info-title"><a href="https://www.youtube.com/watch?v=Ki6VYGnUBWU">[세바시 청소년] 우린 열대어입니다</a></p>
                                <p class="carousel-info-subtitle">김상윤 신송중학교 2년</p>
                                <div class="carousel-info-others">
                                    제작 : 세바시스쿨, 세바시 <br>
                                    시간 : 2018. 2. 3. , 장소 : 서울시 세바시 강연장
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="http://mblogthumb1.phinf.naver.net/MjAxNzA0MjZfMTQ5/MDAxNDkzMTY4MzUzMTU3.lEMZlKTvgwydkKj3sy1XuNgSmOJla2YEsKUEFAfiJYUg.Wt3_Ss87iX_1azD2_O2uOgoJh1mrnv6-cQ5sAIci6bkg.PNG.cjenm0901/%EC%96%B4%EC%A9%8C%EB%8B%A4%EC%96%B4%EB%A5%B8_1.png?type=w2" alt="...">
            <div class="carousel-caption">
                <span></span>
            </div>
            <div class="carousel-info">
                <div class="container">
                    <div class="row p-lr-60">
                        <div class="col-xs-12">
                            <div class="carousel-info-thumbnail-img">
                                <div class="imgbody" style="background-image: url('http://mblogthumb1.phinf.naver.net/MjAxNzA0MjZfMTQ5/MDAxNDkzMTY4MzUzMTU3.lEMZlKTvgwydkKj3sy1XuNgSmOJla2YEsKUEFAfiJYUg.Wt3_Ss87iX_1azD2_O2uOgoJh1mrnv6-cQ5sAIci6bkg.PNG.cjenm0901/%EC%96%B4%EC%A9%8C%EB%8B%A4%EC%96%B4%EB%A5%B8_1.png?type=w2')"></div>
                                <div class="imgbody-cover"></div>
                            </div>
                            <div class="carousel-info-thumbnail-info">
                                <p class="carousel-info-label">다가오는 명강연</p>
                                <p class="carousel-info-title"><a href="https://www.youtube.com/watch?v=Ki6VYGnUBWU">[세바시 청소년] 우린 열대어입니다</a></p>
                                <p class="carousel-info-subtitle">김상윤 신송중학교 2년</p>
                                <div class="carousel-info-others">
                                    제작 : 세바시스쿨, 세바시 <br>
                                    시간 : 2018. 2. 3. , 장소 : 서울시 세바시 강연장
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="http://via.placeholder.com/1450x570" alt="...">
            <div class="carousel-caption">
                <span></span>
            </div>
            <div class="carousel-info">
                <div class="container">
                    <div class="row p-lr-60">
                        <div class="col-xs-12">
                            <div class="carousel-info-thumbnail-img">
                                <div class="imgbody" style="background-image: url('http://via.placeholder.com/1450x570')"></div>
                                <div class="imgbody-cover"></div>
                            </div>
                            <div class="carousel-info-thumbnail-info">
                                <p class="carousel-info-label">다가오는 명강연</p>
                                <p class="carousel-info-title"><a href="https://www.youtube.com/watch?v=Ki6VYGnUBWU">[세바시 청소년] 우린 열대어입니다</a></p>
                                <p class="carousel-info-subtitle">김상윤 신송중학교 2년</p>
                                <div class="carousel-info-others">
                                    제작 : 세바시스쿨, 세바시 <br>
                                    시간 : 2018. 2. 3. , 장소 : 서울시 세바시 강연장
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-ground" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-ground" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>