<div id="contents-delivery" class="container-fluid p-lr-60">
    <div class="row">
        <div class="col-xs-9 col-md-6">
            <p>강연남이 추천하는 오늘의 강연들을 만나보세요!</p>
        </div>
        <div class="col-xs-3 col-md-6">
            <a href="javascript:;" onclick="alert('감상했다고 치세요^^');" class="btn btn-default bgm-black">감상하기</a>
        </div>
    </div>
</div>