
<div id="carousel-ground" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Wrapper for slides // such as vod_container -->
    <div class="carousel-inner p-fixed" role="listbox">
        <div class="item active">
            <img src="http://via.placeholder.com/1450x570" alt="...">
            <div class="carousel-caption">
                <span></span>
            </div>
        </div>
    </div>
</div>