<header id="header" class="clearfix transparent" data-current-skin="blue">

    <ul class="header-inner">

        <li class="logo hidden-xs">
            <%= link_to root_path do %>
                <%= $appname %>
            <% end %>
        </li>

        <li class="p-l-15">
            <ul class="top-menu">
                <li class="link">
                    <a href="#"><span class="tm-text">테마</span></a>
                </li>
                <li class="link">
                    <a href="#"><span class="tm-text">추천</span></a>
                </li>
            </ul>
        </li>

        <li class="pull-right">
            <ul class="top-menu">

                <li class="link no-hover">
                    <a href="#"><span class="tm-text">로그인</span></a>
                </li>

                <li id="top-search">
                    <a href="" onclick="alert('It\'ll go to search page')"><i class="tm-icon zmdi zmdi-search"></i></a>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" href=""><i class="tm-icon zmdi zmdi-more-vert"></i></a>
                    <ul class="dropdown-menu dm-icon pull-right">
                        <li>
                            <a href=""><i class="zmdi zmdi-settings"></i> 파트너쉽</a>
                        </li>
                        <li>
                            <a href=""><i class="zmdi zmdi-settings"></i> 문의하기</a>
                        </li>
                        <li>
                            <a href=""><i class="zmdi zmdi-settings"></i> 공지사항</a>
                        </li>
                        <li class="divider hidden-xs"></li>
                        <li>
                            <a href=""><i class="zmdi zmdi-settings"></i> 로그아웃</a>
                        </li>
                    </ul>
                </li>

                <!--<li class="dropdown">-->
                    <!--<a data-toggle="dropdown" href="">-->
                        <!--<i class="tm-icon zmdi zmdi-email"></i>-->
                        <!--<i class="tmn-counts">6</i>-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu dropdown-menu-lg pull-right">-->
                        <!--<div class="listview">-->
                            <!--<div class="lv-header">-->
                                <!--Messages-->
                            <!--</div>-->
                            <!--<div class="lv-body">-->
                                <!--<a class="lv-item" href="">-->
                                    <!--<div class="media">-->
                                        <!--<div class="pull-left">-->
                                            <!--<img class="lv-img-sm" src="/template/img/profile-pics/1.jpg" alt="">-->
                                        <!--</div>-->
                                        <!--<div class="media-body">-->
                                            <!--<div class="lv-title">David Belle</div>-->
                                            <!--<small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<a class="lv-footer" href="">View All</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </li>
    </ul>
</header>